body {
  width: 1920px;
  max-width: 100%;
  margin: 0 auto;
}

/* ============ Общие стили ============ */
.btn {
  padding: 15px 50px;
  text-transform: uppercase;
}

.form-control {
  font-size: 18px;
  box-shadow: none;
}

textarea.form-control {
  resize: none;
}

form .btn {
  margin-top: 10px;
}

.icon {
  display: inline-block;
  background: url(../img/sprites.png) no-repeat;
  vertical-align: middle;
}

.icon-android {
  width: 46px;
  height: 56px;
  background-position: 0 0;
}

.icon-unity {
  width: 55px;
  height: 57px;
  background-position: -92px 0;
}

.icon-adobe {
  width: 54px;
  height: 56px;
  background-position: -198px 0;
}

.icon-apple {
  width: 44px;
  height: 56px;
  background-position: -295px 0;
}

.icon-corona {
  width: 55px;
  height: 56px;
  background-position: -377px 0;
}

.icon-msg {
  width: 117px;
  height: 92px;
  background-position: 0 -82px;
}

img {
  max-width: 100%;
  height: auto;
}

h1.page-title, 
h2.section-title {
  font-size: 60px;
  font-weight: 400;
  text-transform: uppercase;
}

h3.section-title {
  font-size: 48px;
}

.main-section {
  padding-top: 60px;
  text-align: center;
}

.main-section h3 {
  margin-bottom: 25px;
  font-weight: 400;
  text-transform: uppercase;
  color: #484848;
}

.section-desc {
  margin-bottom: 40px;
  line-height: 2;
}

.main-section .btn {
  margin-bottom: 30px;
}

.page-banner {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  align-items: center;
  min-height: 580px;
  padding: 30px 0;
  text-align: center;
  color: #fff;
  background-color: #65b38c;
  background-repeat: no-repeat;
  background-position: center;
  -webkit-background-size: cover;
  background-size: cover;
}

.page-banner-sm {
  min-height: 220px;
  background: #5ca1ac; /* Для старых браузеров */
  background: linear-gradient(to right, #688dc7, #5da0ae, #6ab588, #99c55c, #b8d253);
}

.page-banner-sm .page-title {
  margin: 0;
}

.page-desc {
  margin-top: 20px;
  font-size: 22px;
}

.banner-desc {
  margin-bottom: 50px;
  padding: 0 20%;
  font-weight: 400;
  line-height: 1.5;
}

.page-content {
  padding: 40px 0;
  background-color: #eff6f6;
}

.page-text {
  text-align: left;
}

.page-text strong {
  color: #484848;
  font-size: 24px;
}

.page-text p {
  margin-bottom: 30px;
}

/* ============ cube-slider ============ */
.cube-slider {
  padding-bottom: 60px;
  background-color: #edf5f7;
}

.slider-text {
  margin: 50px 0;
  font-size: 24px;
  color: #484848;
}

.slider-author {
  margin-bottom: 50px;
}

.slick-loading .slick-list {
  background: #fff url('../libs/slick/ajax-loader.gif') center center no-repeat;
}

/* Dots */
.slick-dotted.slick-slider {
  margin-bottom: 30px;
}

.slick-dots {
  position: absolute;
  bottom: -25px;
  display: block;
  width: 100%;
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: center;
}

.slick-dots li {
  position: relative;
  display: inline-block;
  width: 20px;
  height: 20px;
  margin: 0 5px;
  padding: 0;
  cursor: pointer;
}

.slick-dots li button {
  display: block;
  width: 15px;
  height: 15px;
  padding: 0;
  font-size: 0;
  line-height: 0;
  color: transparent;
  background: transparent;
  border: 1px solid #688dc6;
  border-radius: 50%;
  outline: none;
  cursor: pointer;
}

.slick-dots li button:hover,
.slick-dots li button:focus {
  background: #688dc6;
  outline: none;
}

.slick-dots li.slick-active button {
  background: #688dc6;
}

/* ============ Header ============ */
.main-header {
  position: relative;
  box-shadow: 0 0px 10px 0px rgba(0, 0, 0, 0.5);
}

.home-header {
  box-shadow: none;
}

.navbar-header {
  padding-top: 22px;
}

.navbar-brand {
  height: auto;
}

.navbar-right { 
  margin-top: 58px;
}

.navbar-toggle {
  margin-top: 30px;
  margin-bottom: 30px;
}

.nav>li>a:hover, 
.nav>li>a:focus {
  text-decoration: underline;
}

.sdk-link {
  color: #688ec5!important;
}

.network-link {
  color: #5bad9d!important;
}

.mode-link {
  color: #65b38c!important;
}

.parents-link {
  color: #b1cf55!important;
}

.header-photo {
  text-align: center;
}

.header-photo img {
  margin-top: -55px;
}

/* ============ Header banner ============ */
.main-banner {
  padding: 20px 0;
  text-align: center;
  color: #fff;
  background: #5ca1ac; /* Для старых браузеров */
  background: linear-gradient(to right, #688dc7, #5da0ae, #6ab588, #99c55c, #b8d253);
}

.main-banner h2 {
  margin-top: 0;
  font-size: 52px;
}

.main-banner p {
  font-size: 24px;
}

.main-banner .btn-down {
  padding: 0;
  background: none;
  border: none;
  outline: none;
}

.btn-down .fa {
  font-size: 50px;
}

/* ============ Cube SDK ============ */
.cube-sdk {
  padding-top: 100px;
}

.cube-sdk .section-title {
  color: #688ec5;
}

/* ============ Cube Mode ============ */
.cube-mode {
  background-color: #eff6f6;
}

.cube-mode .section-title {
  color: #65c2a5;
}

.cube-mode .section-desc {
  padding: 0 150px;
}

.mode-photo {
  margin-top: 40px;
}

/* ============ our-friends ============ */
.our-friends {
  padding-bottom: 60px;
}

.our-friends h3 {
  margin-bottom: 45px;
  text-transform: none;
}

/* ============ Cube Network ============ */
.cube-network {
  padding: 335px 0;
  color: #fff;
  background: #65b38c url(../img/cube-network.jpg) no-repeat center;
  -webkit-background-size: cover;
  background-size: cover;
}

.cube-network h3 {
  color: #fff;
}

.cube-network .section-desc {
  padding: 0 90px;
}

/* ============ advanced-tech ============ */
.advanced-tech {
  padding-bottom: 80px;
}

.features {
  margin-top: 70px;
}

.features-item {
  margin-bottom: 20px;
}

.features-photo {
  margin-bottom: 30px;
}

.features-title {
  margin-bottom: 30px;
  color: #484848;
  text-transform: uppercase;
}

.features-desc {
  padding: 0 30px;
}

/* ============ blog-section ============ */
.blog-section {
  padding-bottom: 50px;
  background-color: #f2f5eb;
}

.blog-items {
  margin-top: 50px;
  text-align: left;
}

.blog-item {
  margin-bottom: 30px;
}

.blog-item .item-photo img {
  width: 100%;
}

.blog-item .item-title {
  margin-top: 30px;
  margin-bottom: 20px;
}

.blog-item .item-title a {
  line-height: 1.3;
  color: #484848;
}

.blog-item .item-info {
  margin-bottom: 15px;
  color: #b5d154;
  font-size: 14px;
}

.blog-item .item-info a {
  color: #b5d154;
}

.blog-item .item-excerpt {
  color: #484848;
}

/* ============ contacts-section ============ */
.contacts-section {
  padding: 175px 0;
  color: #fff;
  background: #65b38c url(../img/contacts-bg.jpg) no-repeat center;
  -webkit-background-size: cover;
  background-size: cover;
}

.contacts-section .section-title {
  margin-bottom: 30px;
}

.contacts-section .btn-success {
  margin-right: 25px;
}

.social-btn {
  padding: 0 10px;
  color: #fff;
  font-size: 45px;
}

.social-in:hover {
  color: #008cc9;
}

.social-fb:hover {
  color: #4267b2;
}

.social-tw:hover {
  color: #1da1f2;
}

/* ============ Footer-nav ============ */
.footer-nav {
  padding: 50px 0;
}

.footer-nav .nav-title {
  margin-bottom: 20px;
  font-size: 20px;
  text-transform: uppercase;
  color: #484848;
}

.footer-nav a {
  line-height: 2;
}

/* ============ Footer-bottom ============ */
.footer-bottom {
  padding: 20px 0 48px;
  background-color: #688dc6;
}

.footer-copyright {
  font-size: 14px;
  color: #fff;
}

.footer-bottom .social-btns {
  text-align: right;
}

.footer-bottom .social-btn {
  padding: 0 5px;
  font-size: 25px;
  line-height: 1;
}

/*==================================================
=                 Страница CUBE SDK
==================================================*/

/* ============ SDK Banner ============ */
.sdk-banner {
  background-image: url(../img/sdk/sdk-banner-bg.jpg);
}

.sdk-icons {
  margin-top: 50px;
}

.sdk-icons a {
  display: inline-block;
  margin: 15px;
  vertical-align: middle;
}

/* ============ SDK Banner ============ */
.sdk-monetize {
  padding-bottom: 30px;
}

.sdk-monetize .features-title {
  text-transform: none;
}

/* ============ sdk-video ============ */
.sdk-video {
  padding-bottom: 30px;
  background-color: #f2f5eb;
}

.sdk-video .section-title {
  margin-bottom: 0;
}

.sdk-video .section-desc {
  margin-top: 0;
  font-size: 35px;
  text-transform: none;
}

.sdk-video iframe {
  max-width: 100%;
  margin-bottom: 50px;
}

/* ============ sdk-apps ============ */
.apps-list {
  margin: 60px -25px;
  font-size: 0;
}

.apps-list .app {
  display: inline-block;
  width: 20%;
  padding: 0 25px;
  vertical-align: top;
}

/*==================================================
=               Страница CUBE Network
==================================================*/

/* ============ Network Banner ============ */
.network-banner {
  background-image: url(../img/network/network-banner-bg.jpg);
}

.network-banner .banner-desc {
  text-transform: uppercase;
}

/* ============ network-marketing ============ */
.network-marketing {
  padding-bottom: 40px;
}

.network-marketing .section-title {
  letter-spacing: -1px;
}

.network-marketing .section-desc {
  font-size: 30px;
  color: #484848;
  line-height: 1.4;
}

.network-marketing .features-item:nth-child(3) {
  clear: both;
}

.network-marketing .features-photo {
  min-height: 120px;
}

.network-marketing .btn {
  margin-top: 40px;
}

/* ============ network-location ============ */
.network-location {
  background-color: #edf5f7;
}

.network-location .section-title {
  padding: 0 15%;
}

.network-location .section-desc {
  font-size: 24px;
  color: #484848;
}

.network-location .features-title {
  min-height: 80px;
  padding: 0 15%;
  text-transform: none;
}

.network-location .features-desc {
  min-height: 300px;
}

.network-location .features-photo {
  margin-bottom: 0;
}

/* ============ content-makers ============ */
.content-makers {
  padding-bottom: 100px;
  background-color: #edf5f7;
}

.content-makers h3 {
  margin-bottom: 50px;
}

/* ============ cube-form ============ */
.cube-form {
  color: #fff;
  background: #5ca1ac; /* Для старых браузеров */
  background: linear-gradient(to right, #688dc7, #5da0ae, #6ab588, #99c55c, #b8d253);
}

.cube-form .section-title {
  color: #fff;
}

.cube-form .section-desc {
  font-size: 24px;
}

.cube-form form {
  margin-top: 30px;
}

/*==================================================
=               Страница CUBE Mode
==================================================*/

/* ============ Mode Banner ============ */
.mode-banner {
  position: relative;
  flex-direction: column;
  padding: 30px 15px;
  background-image: url(../img/mode/mode-banner-bg.jpg);
}

.mode-banner .banner-desc {
  padding: 0;
}

.mode-banner img {
  position: absolute;
  bottom: 0;
}

/* ============ mode-partners ============ */
.mode-partners img {
  margin: 40px 0;
}

.mode-partners .btn {
  margin: 20px 0 60px;
}

/* ============ kidoz-features ============ */
.kidoz-features {
  background-color: #edf5f7;
}

/* ============ downloa-kidoz ============ */
.download-kidoz {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  align-items: center;
  min-height: 500px;
  padding: 30px 0;
  text-align: center;
  color: #fff;
  background: #65b38c url(../img/mode/download-bg.jpg) no-repeat center;
  -webkit-background-size: cover;
  background-size: cover;
  border-bottom: 4px solid #edf5f7;
}

.download-kidoz .section-title {
  margin-bottom: 50px;
  font-weight: 400;
  text-transform: uppercase;
  color: #fff;
}

.download-btn-wp {
  margin-bottom: 30px;
}

.btn-download {
  display: inline-block;
  transition-duration: 0.3s;
}

.btn-download:hover {
  transform: scale(1.05);
}

/*==================================================
=               Страница CUBE Parents
==================================================*/

/* ============ Parents Banner ============ */
.parents-banner {
  background-image: url(../img/parents/parents-banner-bg.jpg);
}

.parents-banner a {
  margin: 10px;
}

/* ============ parents-advantages ============ */
.parents-advantages ul {
  margin-top: 35px;
  padding-left: 20px;
  text-align: left;
  color: #484848;
}

.parents-advantages ul li {
  margin-bottom: 15px;
}

.parents-advantages img {
  margin-top: 50px;
}

/* ============ parents-slider ============ */
.parents-slider {
  color: #fff;
  background: #5ca1ac; /* Для старых браузеров */
  background: linear-gradient(to right, #688dc7, #5da0ae, #6ab588, #99c55c, #b8d253);
}

.parents-slider .slider-text {
  color: #fff;
}

.parents-slider .slick-dots li button {
  border-color: #fff;
}

.parents-slider  .slick-dots li button:hover, 
.parents-slider  .slick-dots li button:focus, 
.parents-slider .slick-dots li.slick-active button {
  background: #fff;
}

.parents-slider .icon-msg {
  background-position: -147px -82px;
}

/*==================================================
=               Страница CUBE Blog
==================================================*/
.blog-item .item-bottom {
  padding: 30px;
  background-color: #fff;
}

.blog-item .item-bottom .item-title {
  margin-top: 0;
}

/*==================================================
=               Страница Dashboard
==================================================*/
.signin-wrapper {
  width: 700px;
  margin: 0 auto;
  padding: 100px 0;
}

.signin-wrapper a {
  color: #fff;
}

.auth-btns {
  margin: 30px 0;
}

.auth-btns .btn-primary {
  padding: 15px 35px 15px 80px;
  font-size: 18px;
  background-image: url(../img/sprites.png);
}

.auth-btns .auth-g {
  float: left;
  background-position: 22px -192px;
}

.auth-btns .auth-fb {
  float: right;
  background-position: 22px -259px;
}

.separator {
  position: relative;
  margin-bottom: 40px;
  font-size: 24px;
  text-align: center;
}

.separator::before,
.separator::after {
  content: '';
  position: absolute;
  top: 55%;
  display: block;
  width: 46%;
  border-bottom: 1px solid #fff;
}

.separator::after {
  right: 0;
}

.signin-wrapper .btn-block {
  margin: 20px 0;
}

/*==================================================
=               Страница Our Story
==================================================*/
.story-banner {
  background-image: url(../img/our-story/story-banner-bg.jpg);
}

.story-banner .banner-desc {
  margin-bottom: 10px;
  padding: 0;
}

.content-discovery {
  padding-bottom: 50px;
}

.our-team {
  background-color: #edf5f7;
}

.persons {
  margin-top: 60px;
}

.person-item {
  margin-bottom: 50px;
  color: #484848;
}

.person-photo {
  margin-bottom: 25px;
}

/*==================================================
=               Страница Partners
==================================================*/
.partners-banner {
  background: #5ca1ac; /* Для старых браузеров */
  background: linear-gradient(to right, #688dc7, #5da0ae, #6ab588, #99c55c, #b8d253);
}

.partners-item {
  position: relative;
  margin-bottom: 50px;
  padding: 20px;
  padding-bottom: 50px;
  border: 2px solid #fff;
}

.partners-title {
  margin-bottom: 20px;
  font-size: 26px;
  text-transform: uppercase;
}

.partners-item .btn {
  position: absolute;
  bottom: -25px;
  padding: 15px 30px;
  transform: translateX(-50%);
  transition-duration: 0.3s;
  border: 2px solid #fff;
}

.partners-item .btn:hover {
  background-color: #688ec5;
  color: #fff;
}

.partners-list .col-xs-12:nth-child(2) .btn {
  color: #6ab588;
}

.partners-list .col-xs-12:nth-child(2) .btn:hover {
  color: #fff;
  background-color: #6ab588;
}

.partners-list .col-xs-12:last-child .btn {
  color: #9cc55b;
}

.partners-list .col-xs-12:last-child .btn:hover {
  color: #fff;
  background-color: #9cc55b;
}

.partners-content {
  padding-bottom: 50px;
}

.partners-content strong {
  color: #484848;
}

.partners-form .section-title {
  margin-bottom: 50px;
  font-size: 40px;
}

/*==================================================
=               Страница Pressa
==================================================*/
.news {
  margin-top: 50px;
}

.news .item-title {
  font-size: 22px;
}

.news .more-link {
  color: #688ec5;
}

.news .news-item {
  margin-bottom: 90px;
}

/*==================================================
=               Страница Jobs
==================================================*/
.jobs-list-title {
  margin-bottom: 30px;
  font-size: 22px;
  font-weight: 700;
  color: #484848;
}

.panel {
  border-width: 2px;
}

.panel-group .panel+.panel {
  margin-top: 15px;
}

.panel-default>.panel-heading {
  color: #688dc6;
  transition: background 0.3s;
}

.panel-default>.panel-heading:hover, 
.panel.active .panel-heading {
  color: #fff;
  background-color: #688dc6;
}

.panel-title {
  font-size: 22px;
  font-weight: 400;
}

.panel-title a {
  position: relative;
  display: block;
  padding-left: 45px;
  text-decoration: none;
}

.panel-title a::before {
  content: "\f067";
  position: absolute;
  top: 50%;
  left: 5px;
  display: inline-block;
  width: 26px;
  height: 26px;
  margin-top: -13px;
  padding: 3px;
  font: normal normal normal 14px/1 FontAwesome;
  text-align: center;
  border: 3px solid #688dc6;
  border-radius: 50%;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.panel-default>.panel-heading:hover a::before {
  border-color: #fff;
}

.panel.active .panel-title a::before {
  content: "\f068";
  border-color: #fff;
}

.panel-body {
  background-color: #fff;
}

.panel-body h4 {
  color: #484848;
  text-transform: uppercase;
}

.panel-body img {
  margin: 30px auto;
}

/*==================================================
=            Bootstrap 3 Media Queries             =
==================================================*/

/*==========  Desktop First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1199px) {
  body { font-size: 16px; }

  h3 { font-size: 24px; }

  h4 { font-size: 20px; }

  h1.page-title, 
  h2.section-title { font-size: 50px; }

  h3.section-title { font-size: 40px; }

  .page-desc { font-size: 20px; }

  .page-text strong { font-size: 20px; }

  .navbar-nav>li>a { padding: 0 10px; }

  .main-banner h2, 
  .btn-down .fa { font-size: 40px; }

  .main-banner p { font-size: 20px; }

  .main-section h3 { margin: 15px 0; }

  .section-desc { margin-bottom: 25px; }

  .features-title { margin-bottom: 20px; }

  .contacts-section { padding: 70px 0; }

  .sdk-video .section-desc { font-size: 30px; }

  .network-marketing .section-desc { font-size: 22px; }

  .network-location .features-title { min-height: 70px; }

  .network-location .features-desc { min-height: 220px; }

  .partners-form .section-title {
    margin-bottom: 30px;
    font-size: 35px;
  }

  .news .item-title { font-size: 20px; }

}

/* Medium Devices, Desktops */
@media only screen and (max-width : 991px) {

  body { font-size: 14px; }

  h3 { font-size: 20px; }

  h1.page-title, 
  h2.section-title { font-size: 40px; }

  h3.section-title { font-size: 30px; }

  .page-desc { font-size: 18px; }

  .form-control { font-size: 16px; }

  .page-banner { min-height: 450px; }

  .page-banner-sm { min-height: 150px; }

  .banner-desc { margin-bottom: 30px; }

  .btn { font-size: 16px; }

  .page-text strong { font-size: 16px; }

  .page-text p { margin-bottom: 15px; }

  .header-photo img { margin-top: -10px; }

  .navbar-nav {
    margin-top: 0;
    text-align: center;
  }

  .navbar-nav li { margin-bottom: 10px; }

  .main-section { padding-top: 30px; }

  .main-banner h2, 
  .btn-down .fa { font-size: 30px; }

  .main-banner p { font-size: 18px; }

  .cube-sdk { padding-top: 50px; }

  .cube-network { padding: 150px 0; }

  .features { margin-top: 40px; }

  .features-desc { padding: 0; }

  .advanced-tech { padding-bottom: 30px; }

  .blog-item .item-title {
    margin-top: 20px;
    margin-bottom: 15px;
  }

  .blog-section { padding-bottom: 20px; }

  .blog-items { margin-top: 35px; }

  .contacts-section { padding: 40px 0; }

  .footer-nav .col-sm-6:nth-child(3) { clear: both; }

  .footer-nav .nav-title {
    margin-bottom: 10px;
    font-size: 18px;
  }

  .footer-bottom { padding: 20px 0; }

  .sdk-video .section-desc { font-size: 22px; }

  .sdk-video iframe { height: 400px; }

  .cube-slider { padding-bottom: 30px; }

  .slider-text {
    margin: 30px 0;
    font-size: 20px;
  }

  .slider-author { margin-bottom: 30px; }

  .network-location .section-desc, 
  .cube-form .section-desc { font-size: 20px; }

  .network-location .features-title { padding: 0; }

  .cube-form form { margin-top: 0; }

  .mode-banner img {
    max-height: 240px;
    width: auto;
  }

  .download-kidoz { min-height: 370px; }

  .blog-item .item-bottom { padding: 20px; }

  .content-discovery { padding-bottom: 30px; }

  .person-item { margin-bottom: 30px; }

  .person-photo { margin-bottom: 15px; }

  .person-name { font-size: 16px; }

  .partners-form .section-title { font-size: 28px; }

  .news .news-item { margin-bottom: 50px; }

  .news .item-title { font-size: 18px; }

  .panel-title { font-size: 20px; }

}

/* Small Devices, Tablets */
@media only screen and (max-width : 767px) {

  h3 { font-size: 18px; }

  h5 { font-size: 16px; }

  h1.page-title, 
  h2.section-title { font-size: 36px; }

  h3.section-title { font-size: 20px; }

  .btn {
    padding: 12px 20px;
    font-size: 14px;
  }

  .form-control { font-size: 14px; }

  .page-desc { font-size: 16px; }

  .page-banner { min-height: 400px; }

  .page-banner-sm { min-height: 100px; }

  .banner-desc { padding: 0; }

  .main-banner { padding-bottom: 10px; }

  .main-banner h2 { font-size: 22px; }

  .main-banner p { font-size: 16px; }

  .page-text strong { font-size: 14px; }

  .main-section, 
  .cube-sdk { padding-top: 15px; }

  .cube-mode .section-desc { padding: 0; }

  .our-friends { padding-bottom: 30px; }

  .cube-network { padding: 70px 0; }

  .cube-network .section-desc { padding: 0; }

  .blog-item .item-title, 
  .blog-item .item-info { text-align: center; }

  .footer-nav { padding: 20px 0; }

  .nav-column {
    display: inline-block;
    vertical-align: top;
  }

  .footer-nav .nav-title { font-size: 16px; }

  .footer-bottom .social-btns { text-align: center; }

  .sdk-monetize { padding-bottom: 10px; }

  .sdk-icons { margin-top: 20px; }

  .sdk-video { padding-bottom: 10px; }

  .sdk-video .section-desc { font-size: 14px; }

  .sdk-video iframe {
    height: 300px;
    margin-bottom: 25px;
  }

  .apps-list { margin: 30px -15px; }

  .apps-list .app {
    width: 30%;
    padding: 15px;
  }

  .cube-slider { padding: 25px 0; }

  .slider-text {
    margin: 20px 0;
    font-size: 16px;
  }

  .slider-author { margin-bottom: 20px; }

  .network-marketing .section-desc, 
  .network-location .section-desc, 
  .cube-form .section-desc { font-size: 14px; }

  .network-marketing .btn { margin: 10px 0; }

  .network-location .section-title { padding: 0; }

  .network-location .features-title, 
  .network-location .features-desc { min-height: 0; }

  .network-location .section-desc { line-height: 1.2; }

  .network-location .features { margin-top: 20px; }

  .content-makers { padding-bottom: 50px; }

  .mode-banner img { max-height: 200px; }

  .mode-partners img { margin: 15px 0; }

  .mode-partners .btn { margin-bottom: 30px; }

  .download-kidoz { min-height: 350px; }

  .download-kidoz .section-title { margin-bottom: 30px; }

  .blog-item .item-bottom { padding: 10px; }

  .signin-wrapper {
    width: auto;
    padding: 30px 0;
  }

  .auth-btns .btn-primary {
    float: none;
    margin-top: 20px;
  }

  .separator { font-size: 22px; }

  .persons { margin-top: 35px; }

  .person-name { margin-bottom: 5px; }

  .partners-content { padding-bottom: 30px; }

  .partners-form .section-title {
    margin-bottom: 0;
    font-size: 20px;
  }

  .news .item-photo {
    margin-bottom: 10px;
    text-align: center;
  }

  .news .item-title { font-size: 16px; }

  .jobs-list-title {
    margin-bottom: 20px;
    font-size: 18px;
  }

  .panel-title { font-size: 18px; }

  .panel-body { padding: 20px 30px; }

}

/* Extra Small Devices, Phones */ 
@media only screen and (max-width : 480px) {

  h3 {
    font-size: 16px;
    line-height: 1.2;
  }

  h4 { font-size: 18px; }

  h1.page-title, 
  h2.section-title {
    margin-top: 10px;
    font-size: 30px;
  }

  h3.section-title { font-size: 18px; }

  .page-desc { font-size: 14px; }

  .section-desc { margin-bottom: 15px; }

  .navbar-brand { width: 200px; }

  .navbar-toggle {
    margin-top: 17px;
    margin-bottom: 17px;
  }
  
  .main-banner h2 { font-size: 15px; }

  .main-banner p { font-size: 12px; }

  .mode-photo { margin-top: 20px; }

  .cube-network { padding: 20px 0; }

  .main-section .btn { margin-bottom: 15px; }

  .features-photo { margin-bottom: 0; }

  .features-title { margin-bottom: 10px; }

  .blog-items { margin-top: 25px; }

  .contacts-section { padding: 20px 0; }

  .contacts-section .btn-success { margin-right: 0; }

  .kidoz-features .features-photo { margin-bottom: 10px; }

  .auth-btns { margin: 15px 0; }

  .auth-btns .btn-primary {
    padding: 12px 20px;
    font-size: 14px;
    background-image: none;
  }

  .separator {
    margin-bottom: 20px;
    font-size: 16px;
  }

  .person-item { margin-bottom: 20px; }

  .news { margin-top: 0; }

  .jobs-list-title { font-size: 14px; }

  .panel-title { font-size: 16px; }

  .panel-body { padding: 10px 15px; }

}



/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */ 
@media only screen and (min-width : 320px) {
  
}

/* Extra Small Devices, Phones */ 
@media only screen and (min-width : 480px) {

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {

}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
  
}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {
  
}





